#header {
  background-color: #fff;
  color: #999;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding-left: 100px;
}

#header h1 {
  padding: 20px 0;
  font-size: 4em;
}

#content {
  background-color: #fff;
  position: absolute;
  top: 100px;
  left: 100px;
  bottom: 0;
  right: 100px;
  padding: 0px;
  color: #333;
  line-height: 120%;
}

#content p {
  padding-bottom: 1em;
}

#result {
  padding: 20px 0;
}

#content h1 {
  font-size: 2em;
  font-weight: bold;
  color: #999;
}

#content h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: #999;
  margin-bottom: 15px;
}

#content h3 {
  font-size: 1.25em;
  font-weight: bold;
  color: #999;
  margin-bottom: 15px;
}

#nav {
  position: absolute;
  right: 30px;
  top: 30px;
  text-align: right;
}

#nav a {
  text-decoration: none;
  color: #999;
}

#nav a:hover {
  text-decoration: underline;
}

#content img[align=left] {
  padding-right: 10px;
}

#content ul {
  padding-top: 1em;
  list-style-type: disc;
  line-height: 1.3;
  clear: both;
}

#content ul ul {
  list-style-type: circle;
  padding-top: 0;
  padding-left: 2em;
}

