<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
    <title>The Political Web</title>
  </head>
  <body>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <div class="container-fluid">
      <div class="navbar navbar-reverse">
        <div class="navbar-inner">
          <a class="brand" href="#">The Political Web</a>
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/constituencies/">Constituencies</a></li>
            <li><a href="/about/">About</a></li>
          </ul>
        </div>
      </div>
      <div class="span8 offset1">
        <div class="row">
[% content %]
        </div>
      </div>
    </div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-56332-14']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
  </body>
</html>
