<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="stylesheet" href="/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <script type="text/javascript" src="politics.js"></script>
    <title>The Political Web</title>
  </head>
  <body>
    <div id="header">
      <h1>The <i>Political</i> Web</h1>
    </div>
    <div id="content">
[% content %]
    </div>
    <div id="nav">
      <ul>
        <li><a href="/about.html">About</a></li>
      </ul>
    </div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-56332-14");
pageTracker._initData();
pageTracker._trackPageview();
</script>
  </body>
</html>
